#配置优化，下面是使用方法，需要在本地操作
# 下载脚本
# mkdir -p scripts/kconfig
# cd scripts/kconfig

# wget https://raw.githubusercontent.com/torvalds/linux/master/scripts/kconfig/merge_config.sh
# chmod +x merge_config.sh
#  使用把优化项合并到.config里
./scripts/kconfig/merge_config.sh -m .config myconfig.config



# ====优化开始====
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -mcpu=cortex-a53+crypto+crc"
CONFIG_GCC_USE_GRAPHITE=y
CONFIG_USE_GC_SECTIONS=y
CONFIG_PKG_FORTIFY_SOURCE_3=y
CONFIG_PKG_ASLR_PIE_ALL=n
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
# ===== 内核性能优化 =====
CONFIG_KERNEL_IO_URING=y
CONFIG_KERNEL_MPTCP=y
CONFIG_KERNEL_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_KERNEL_TCP_CONG_BBR=y
CONFIG_KERNEL_DEFAULT_BBR=y
# ===== 精简内核（不影响兼容性） =====
# 建议保持
CONFIG_KERNEL_PRINTK=y
CONFIG_KERNEL_CGROUPS=n
CONFIG_KERNEL_NAMESPACES=y
CONFIG_KERNEL_DEBUG_FS=n
# 建议关闭
CONFIG_KERNEL_PRINTK_TIME=n
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_MAGIC_SYSRQ=n
CONFIG_KERNEL_COREDUMP=n
CONFIG_KERNEL_ELF_CORE=n
# ===== 系统组件精简 =====
CONFIG_BUSYBOX_DEFAULT_FEATURE_VERBOSE_USAGE=n
CONFIG_PACKAGE_tcpdump=n
CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_coreutils=n
CONFIG_AUDIO_SUPPORT=n
CONFIG_PACKAGE_haproxy=n
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_microsocks=n
# ===== 内存优化 (ZRAM) =====
CONFIG_PACKAGE_kmod-zram=n
CONFIG_PACKAGE_zram-swap=n
# ===== 网络与防火墙补丁 =====
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
# ===== 常用插件集 =====
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
##### ===== 必要组件 =====
CONFIG_PACKAGE_kmod-veth=y
# ===== 透明代理（必须）=====
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-netlink-diag=y
# ===== 可关闭 =====
CONFIG_PACKAGE_kmod-ipt-extra=n
CONFIG_PACKAGE_kmod-ipt-ipopt=n
CONFIG_PACKAGE_kmod-ipt-hashlimit=n
CONFIG_PACKAGE_kmod-ipt-iprange=n
CONFIG_PACKAGE_kmod-ipt-u32=n
CONFIG_PACKAGE_kmod-ipt-tee=n
CONFIG_PACKAGE_kmod-ipt-raw6=n
# ===== 存储与 WiFi =====
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_wpad-openssl=y
##### ===== Busybox =====
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FTPD=n
CONFIG_BUSYBOX_CONFIG_HTTPD=n
CONFIG_BUSYBOX_CONFIG_TELNETD=n
##### ===== Dropbear =====
CONFIG_DROPBEAR_ENABLE_CTR_MODE=y
CONFIG_DROPBEAR_LEGACY_COMPAT=n
# ===== WED 核心 =====
CONFIG_NET_MEDIATEK_SOC=y
CONFIG_NET_MEDIATEK_SOC_WED=y
# ===== 数据路径 =====
CONFIG_NET_DSA=y
CONFIG_NET_DSA_MT7530=y
CONFIG_AN8855_GSW=y
CONFIG_MDIO_AN8855=y
# ===== DMA / 加速 =====
CONFIG_MTK_HSDMA=y
CONFIG_RFS_ACCEL=y
# ===== WARP =====
CONFIG_WARP_V2=y
CONFIG_PACKAGE_kmod-mtk_warp=y
# ===== WiFi驱动 =====
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_CFG_SUPPORT_FALCON_MURU=y
CONFIG_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_CFG_SUPPORT_FALCON_SR=y
CONFIG_CFG_SUPPORT_FALCON_PP=y
# ===== 必须保留 =====
CONFIG_KERNEL_PRINTK=y
# ===== Flow Offload =====
CONFIG_NF_FLOW_TABLE_INET=y
CONFIG_NFT_FLOW_OFFLOAD=n
# ===== MTK 专用转发优化 测试四个全开，试一下能否编译成功=====
CONFIG_MTK_ATE_SUPPORT=y
CONFIG_MTK_WLAN_SERVICE=y
CONFIG_WARP_DBG_SUPPORT=n
CONFIG_WARP_MEMORY_LEAK_DBG=n
CONFIG_MTK_CFG_SUPPORT_FALCON_TXCMD_DBG=y
# FullCone NAT（全部关闭）
CONFIG_PACKAGE_kmod-nft-fullcone=n
CONFIG_PACKAGE_kmod-nft-compat=n
# USB（不用就关）
CONFIG_USB_SUPPORT=n
CONFIG_DEFAULT_kmod-nft-offload=n
CONFIG_NETFILTER_XT_FLOWOFFLOAD=n
CONFIG_NF_FLOW_TABLE=y
CONFIG_MTD_SPI_NOR=n
CONFIG_MTD_PARSER_TRX=n
CONFIG_MTD_SPLIT_FIRMWARE=n
CONFIG_MTD_SPLIT_FIT_FW=n
CONFIG_MTD_SPLIT_MSTC_BOOT=n
CONFIG_BUSYBOX_CONFIG_HTTPD=n
CONFIG_BUSYBOX_CONFIG_TELNETD=n
CONFIG_BUSYBOX_CONFIG_START_STOP_DAEMON=n

# Dropbear SSH 配置
CONFIG_DROPBEAR_DEFAULT_RSA_SIZE=3072
CONFIG_DROPBEAR_LEGACY_COMPAT=n

# 系统基础配置
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_HOST_OS_LINUX=y
CONFIG_MODULES=y
CONFIG_DEVEL=n
CONFIG_GDB=n

# 内核 CGROUP 相关
CONFIG_KERNEL_CGROUP_BPF=n
CONFIG_KERNEL_CGROUP_RDMA=n
CONFIG_KERNEL_CPUSETS=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=n
CONFIG_KERNEL_MAGIC_SYSRQ=n
CONFIG_KERNEL_MEMCG_KMEM=n
CONFIG_KERNEL_MEMCG=y
CONFIG_KERNEL_CGROUP_DEVICE=n
CONFIG_KERNEL_CGROUP_PIDS=y
CONFIG_KERNEL_CGROUP_FREEZER=n
CONFIG_KERNEL_CGROUP_CPUACCT=n
CONFIG_KERNEL_NET_CLS_CGROUP=n
CONFIG_KERNEL_RT_GROUP_SCHED=n
CONFIG_KERNEL_CGROUPS=y
# CONFIG_KERNEL_CGROUP_SCHED is not set
# CONFIG_KERNEL_BLK_CGROUP is not set

# 内核调试/安全配置
CONFIG_KERNEL_DEBUG_KERNEL=n
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_KALLSYMS=n
CONFIG_KERNEL_KALLSYMS_ALL=n
CONFIG_KERNEL_COREDUMP=n
CONFIG_KERNEL_ELF_CORE=n
CONFIG_KERNEL_PRINTK_TIME=n
CONFIG_KERNEL_PRINTK=y   # 不可关闭，mtk会编译失败
CONFIG_KERNEL_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_DEVMEM=n
CONFIG_KERNEL_SECURITY=y
CONFIG_KERNEL_SECURITY_NETWORK=y
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=n
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y

# 内核网络配置
CONFIG_KERNEL_MPTCP_IPV6=y  # 修正拼写错误
CONFIG_KERNEL_FANOTIFY=n
CONFIG_KERNEL_IP_MROUTE=n
CONFIG_KERNEL_IP_PIMSM_V1=n
CONFIG_KERNEL_IP_PIMSM_V2=n
CONFIG_KERNEL_IPV6_MROUTE=n
CONFIG_KERNEL_IPV6_PIMSM_V2=n
CONFIG_KERNEL_IPV6_SEG6_LWTUNNEL=n
CONFIG_KERNEL_IPV6_MROUTE_MULTIPLE_TABLES=y
CONFIG_KERNEL_IPV6_SUBTREES=y
CONFIG_KERNEL_NET_L3_MASTER_DEV=n
CONFIG_KERNEL_SWAP=n


# 内核命名空间配置
CONFIG_KERNEL_USER_NS=y
CONFIG_KERNEL_PID_NS=y
CONFIG_KERNEL_IPC_NS=y

# 第三方库配置
CONFIG_LIBCURL_FTP=n
CONFIG_LIBCURL_TFTP=n
CONFIG_OPENSSL_WITH_DEPRECATED=n
CONFIG_WOLFSSL_HAS_TLSV10=n

# MTK 相关配置
CONFIG_MTK_CAL_BIN_FILE_SUPPORT=y
CONFIG_MTK_DOT11K_RRM_SUPPORT=y
CONFIG_MTK_DOT11R_FT_SUPPORT=y
CONFIG_MTK_MAP_SUPPORT=y

# 软件包配置
CONFIG_PACKAGE_attendedsysupgrade-common=n
CONFIG_PACKAGE_bind-libs=n
CONFIG_PACKAGE_bind-tools=n
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_luci-theme-bootstrap=n
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_tcpdump=n
CONFIG_PACKAGE_microsocks=n
CONFIG_PACKAGE_haproxy=n
CONFIG_PACKAGE_coreutils-base64=n
CONFIG_PACKAGE_coreutils-nohup=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_kmod-usb-xhci-hcd=n
CONFIG_PACKAGE_kmod-usb-xhci-mtk=n
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_libubox-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libubus-lua=y

# Trusted Firmware 相关
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr3=n
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr4=n
CONFIG_PACKAGE_trusted-firmware-a-mt7987-ram-comb=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-comb=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr3=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr4=n
CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr3=n

# Singbox 配置
CONFIG_SINGBOX_DHCP=y
CONFIG_SINGBOX_ROUTER=y
CONFIG_SINGBOX_TUN=y

# 根文件系统/编译优化
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
CONFIG_TARGET_ROOTFS_EXT4FS=n
CONFIG_JSON_OVERVIEW_IMAGE_INFO=n
CONFIG_TARGET_INITRAMFS=n
CONFIG_USE_LTO=y
CONFIG_USE_MOLD=y
CONFIG_EXTRA_OPTIMIZATION="-fno-plt"

# 其他配置
CONFIG_NODEJS_22=n
CONFIG_ZABBIX_POSTGRESQL=n
CONFIG_PHP8_LIBXML=n
CONFIG_PHP8_DOM=n
CONFIG_PHP8_GETTEXT=n
CONFIG_PHP8_INTL=n
CONFIG_AUDIO_SUPPORT=n
CONFIG_USB_SUPPORT=n
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=n
CONFIG_BPF_TOOLCHAIN_NONE=y
CONFIG_HAS_BPF_TOOLCHAIN=n
CONFIG_DEVEL=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_PACKAGE_u-boot-mt7986_jdcloud_re-cp-03=y
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=n
CONFIG_FSTOOLS_UBIFS_EXTROOT=n
CONFIG_KERNEL_DEVTMPFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_TARGET_ROOTFS_INITRAMFS_SEPARATE=n
CONFIG_USES_INITRAMFS=n
CONFIG_USES_SEPARATE_INITRAMFS=n
CONFIG_TARGET_INITRAMFS=n
